body.intent-mouse [role=button]:focus,
body.intent-mouse [role=tabpanel][tabindex="0"]:focus,
body.intent-mouse a:focus,
body.intent-mouse button:focus,
body.intent-mouse summary:focus {
  outline: none;
  box-shadow: none
}

.radio-label-theme-discs {
  padding: 0;
  transition: padding .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hidden-radio-input {
  width: 0;
  height: 0;
  position: absolute;
  appearance: none;
}

:checked + .radio-label-theme-discs,
.radio-label-theme-discs:hover {
  padding: 8px;
}

.check-annotation {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.check-annotation:after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  display: block;
  width: 4px;
  content: " "
}

.check-annotation .annotation-actions {
  top: 4px;
  right: 8px
}

.check-annotation .annotation-octicon {
  width: 16px
}

.check-annotation.Details--on .Details-content--hidden {
  display: block !important
}

.annotation-title {
  word-break: break-all
}

.check-annotation-failure::after {
  background-color: var(--color-danger-emphasis);
}

.check-annotation-failure .annotation-title {
  color: var(--color-danger-fg);
}

.check-annotation-warning::after {
  background-color: var(--color-attention-emphasis);
}

.check-annotation-warning .octicon-alert {
  color: var(--color-attention-fg);
}

.check-annotation-warning .annotation-title {
  color: var(--color-attention-fg);
}
